/* :root {
    --primary-color: #b818d4;
    --secondary-color: #432344;
    --bs-primary-rgb: 50, 304, 30;
    --primary-border: 2px solid black;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}


button {
    background-color: var(--primary-color) !important;
} */
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* отключает скроллбар */
  }

  main {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }